body {
    background-color: #778899;
    font-family: 'Oswald';
}

form {
    margin-left: 40%;
    margin-top: 3%;
    padding: 10px 20px 20px 10px;
    background: white;
    border-radius: 5px;
    display: inline-block;
}

h1{
    text-align: center;
}

/*CSS for the inputs*/

input[ type="text" ] {
    width: 100%;
}

input[ type="email" ] {
    width: 100%;
}

input[ type="password" ] {
    width: 100%;
}

input[ type="date" ] {
    width: 100%;
}

input[ type="number" ] {
    width: 100%;
}

textarea{
    width: 100%;
}

input[ type="submit"] {
    color: white;
    background-color: green;

}

input[ type="reset"]{
    color: white;
    background-color: red;
}